.page-todo-container {
    max-width: 1200px;
    padding: 20px;
    margin: 0 auto;
    height: 100%;
}

.page-todo-title {
   text-align: center;
}

.todo-list-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.todo-list-add-todo-container {
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
